<h2>Home (app\templates\index.hbs)</h2>

<p>Ember test project</p>
<ul>
   <li>{{#link-to 'bookmarks'}}Bookmarks{{/link-to}}</li>
   <li>{{#link-to 'bookmarks.new'}}New Bookmark{{/link-to}}</li>
   <li>{{#link-to 'about'}}About{{/link-to}}</li>
</ul>

{{outlet}}
